html {
    scroll-behavior: smooth;
}

div.name-box {
    transform: translateY(0px);
    position: relative;
    height: 100vh;
}

div.name-box div.text-zone {
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: fit-content;
    width: 50%;
}

div.about-box {
    background-color: white;
    padding-top: 5%;
    padding-inline: 10%;
    padding-bottom: 2.5%;
}

img.picture {
    border-radius: 50%;
    display: block; 
    margin-inline: auto; 
    width: 75%;
    content: url("/images/profile_pic.jpg");
    transform: scale(100%);
    transition: all 0.5s ease;
}

img.picture:hover {
    content: url("/images/profile_pic_smiley.jpg");
    transform: scale(110%);
    transition: all 0.1s ease;
}

div.skills-box {
    background-color: white;
    padding-block: 2.5%;
    padding-inline: 10%;
}

.skills-list .skill-item {
    transition: all 0.5s ease;
}

.skills-list .skill-item:hover {
    background-color: #CECECE;
    color:white;
}

div.training-box {
    background-color: white;
    padding-block: 2.5%;
    padding-inline: 10%;
}

p.mobile-date {
    font-weight: bold;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

p.mobile-date:before, p.mobile-date:after {
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    opacity: 0.25;
    background-color: grey;
}

p.mobile-date:before {
    margin-left: -50%;
}

div.personnal-projects-box {
    background-color: white;
    padding-block: 2.5%;
    padding-inline: 10%;
}

div.contact-box {
    background-color: white;
    padding-block: 2.5%;
    padding-inline: 10%;
}

@media(max-width: 767.98px) {
    img.picture {
        margin-bottom: 15px;
    }

    .skills-list {
        column-count: 1;
    }
}

@media(min-width: 768px) {
    .dropdown-menu.animated {
        display: block !important;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        transition: all 0.5s ease;
    }
    
    .dropdown-menu.animated.show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    nav.scroll-up {
        transform: translateY(0);
        transition: all 0.5s ease;
    }
    
    nav.scroll-down {
        transform: translateY(-100%);
        transition: all 0.5s ease;
    }

    .skills-list {
        column-count: 2;
        column-gap: 2%;
    }
}

@media (max-width: 991.98px) {
    div.content-box {
        width: 100%;
        margin-inline: 0;
    }
}

@media (min-width: 992px) {
    div.content-box {
        width: calc(100% - 50px);
        margin-inline: 25px;
    }

    div.about-box {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

@media (min-width: 1602px) {
    div.content-box {
        width: 1552px;
        margin-inline: auto;
    }
}

h1 {
    text-align: center;
}

svg.icon {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}